<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionType" value="WinAuthConnection" />
		<add key="City" value="https://vn-public-apis.fpo.vn/provinces/getAll?limit=-1"/>
		<add key="District" value="https://vn-public-apis.fpo.vn/districts/getByProvince?provinceCode={0}&amp;limit=-1"/>
		<add key="Ward" value="https://vn-public-apis.fpo.vn/wards/getByDistrict?districtCode={0}&amp;limit=-1"/>
	</appSettings>

	<connectionStrings>
		<!-- Windows Authentication -->
		<add name="WinAuthConnection"
             connectionString="initial catalog = PLACEHOLDER_DB; data source = PLACEHOLDER_SERVER; integrated security = true"
             providerName="System.Data.SqlClient" />

		<!-- SQL Server Authentication -->
		<add name="SqlAuthConnection"
             connectionString="Server=PLACEHOLDER_SERVER;Database=PLACEHOLDER_DB;User Id=PLACEHOLDER_USER;Password=PLACEHOLDER_PASS;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>